@{
    ViewData["Title"] = "Thông tin";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8" style="text-align: justify;">
        <p>Khoa Công nghệ thông tin của trường Đại học Điện lực được thành lập ngày 02 tháng 5 năm 2002 (có văn phòng tại phòng 109, nhà A, trường Đại học Điện lực - 235 Hoàng Quốc Việt - Hà Nội). Hiện nay, khoa đang đào tạo 03 chuyên ngành gồm công nghệ phần mềm, thương mại điện tử, quản trị và an ninh mạng với các bậc đào tạo tương ứng là đại học, cao học và tiến sĩ.</p>
    </div>
    <div class="col-md-3"></div>
</div>
